<h1>Address <%= params[:address] %></h1>
<h2>Balance: <%= @address.sum(:credit) - @address.sum(:debit) %> <%= ENV['COIN_SYMBOL'] %></h2>

<table>
  <tr>
    <td>Transactions in</td>
    <td><%= @address.where.not(credit: nil).where.not(credit: 0).count %></td>
  </tr>
  <tr>
    <td>Transactions out</td>
    <td><%= @address.where.not(debit: nil).where.not(debit: 0).count %></td>
  </tr>
  <tr>
    <td>Total received</td>
    <td><%= @address.sum(:credit) %></td>
  </tr>
  <tr>
    <td>Total sent</td>
    <td><%= @address.sum(:debit) %></td>
  </tr>
</table>

<% if !@complete_data %>
  <h3 class="cf">Warning: this page currently has incomplete data while address indexes are being built. Transactions may be missing.</h3>
<% end %>

<table>
  <tr>
    <th>Date/time</th>
    <th>Transaction</th>
    <th>Block</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Balance</th>
  </tr>
  <% @address.each do |a| %>
    <tr>
      <td><%= a.date %></td>
      <td><a href="/tx/<%= a.txid %>"><%= a.txid[0..10] %>...</a></td>
      <td><a href="/block/<%= a.block %>"><%= a.block %></a></td>
      <td>
        <% if !a.debit.nil? && a.debit != 0 %>
          <%= a.debit %> <%= ENV['COIN_SYMBOL'] %>
        <% else %>
         - 
        <% end %>
      </td>
      <td>
        <% if !a.credit.nil? && a.credit != 0 %>
          <%= a.credit %> <%= ENV['COIN_SYMBOL'] %>
        <% else %>
         - 
        <% end %>
      </td>
      <td><%= a.balance %> <%= ENV['COIN_SYMBOL'] %></td>
    </tr>
  <% end %>
</table>
