<% if !@output.blank? %>
  <h1>Block #<%= @output["height"] %></h1>
  <table>
    <tr>
      <td>Height</td>
      <td><a href="/block/<%= @output['height'] %>"><%= @output["height"] %></a></td>
    </tr>
  
    <tr>
      <td>Version</td>
      <td><%= @output["version"] %></td>
    </tr>
  
    <tr>
      <td>Date/time</td>
      <td><%= Time.at(@output["time"]) %></td>
    </tr>
  
    <tr>
      <td>Difficulty</td>
      <td><%= @output["difficulty"] %></td>
    </tr>
  
    <tr>
      <td>Number of transactions</td>
      <td><%= @output["tx"].count %></td>
    </tr>
  
    <tr>
      <td>Output total</td>
      <td><%= @output["totals"]["output"] %> <%= ENV['COIN_SYMBOL'] %></td>
    </tr>
  
    <tr>
      <td>Input total</td>
      <td><%= @output["totals"]["input"] %> <%= ENV['COIN_SYMBOL'] %></td>
    </tr>
  
    <tr>
      <td>Hash</td>
      <td><%= @output["hash"] %></td>
    </tr>
  
    <tr>
      <td>Previous block</td>
      <td><a href="/block/<%= @output['previousblockhash'] %>"><%= @output["previousblockhash"] %></a></td>
    </tr>
  
    <tr>
      <td>Next block</td>
      <td><a href="/block/<%= @output['nextblockhash'] %>"><%= @output["nextblockhash"] %></a></td>
    </tr>
  
    <tr>
      <td>Merkle root</td>
      <td><%= @output["merkleroot"] %></td>
    </tr>
  </table>

  <% if @name_operations.count > 0 %>  
    <h2>Name operations</h2>
    <table>
      <tr>
        <th>Transaction</th>
        <th>Operation</th>
        <th>Name</th>
        <th>Value</th>
      </tr>
      <% @name_operations.each do |op| %>
        <tr>
          <td><a href="/tx/<%= op['txid'] %>"><%= op["txid"] %></a></td>
          <td><%= op["op"] %></td>
          <td><a href="/name/<%= op['name'] %>"><%= op["name"] %></a></td>
          <td><pre><% if !op["value"].blank? %><%= op["value"][0..10] %>...<% end %></pre></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  
  <h2>Transactions</h2>
  <% @output["tx"].each do |tx| %>
    <table>
      <tr>
        <th colspan="3">Transaction <a href="/tx/<%= tx['txid'] %>"><%= tx['txid'] %></a> <% if tx['totals']['input'] != 0 %>(Fee <%= tx['totals']['input'] - tx['totals']['output'] %> <%= ENV['COIN_SYMBOL'] %>)<% end %></th>
      </tr>
      <tr>
        <td>
          <table>
            <% tx["vin"].each do |vin| %>
              <tr>
                <% if vin["prevTransaction"] %>
                  <td><a href="/address/<%= vin['prevTransaction']['vout'][vin['vout']]['scriptPubKey']['addresses'][0] %>"><%= vin["prevTransaction"]["vout"][vin["vout"]]["scriptPubKey"]["addresses"][0] %></a></td>
                  <td><%= vin["prevTransaction"]["vout"][vin["vout"]]["value"] %> <%= ENV['COIN_SYMBOL'] %></td>
                <% else %>
                  <td>No inputs (generated coins)</td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </td>
        <td>
          <table>
            <% tx["vout"].each do |vout| %>
              <tr>
                <% if vout['scriptPubKey']['addresses'] %>
                  <td><a href="/address/<%= vout['scriptPubKey']['addresses'][0] %>"><%= vout["scriptPubKey"]["addresses"][0] %></a></td>
                <% else %>
                  <td><a href="/address/Unknown">Unknown</a></td>
                <% end %>
                <td><%= vout["value"] %> <%= ENV['COIN_SYMBOL'] %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
  <% end %>
<% else %>
  <h1>Block not found</h1>
<% end %>
