<div class="flex-container">
  <div class="half">
    <h2>Market data</h2>
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
    <div class="coinmarketcap-currency-widget" data-currencyid="3" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>
  </div>
  
  <div class="half">
    <h2>Latest blocks</h2>
    <table>
      <tr>
          <th>Height</th>
          <th>Age</th>
          <th>Transactions</th>
          <th>Total Sent</th>
      </tr>
      <% @latest_blocks.each do |block| %>
        <tr>
          <td><a href="/block/<%= block['height'] %>"><%= block['height'] %></a></td>
          <td><%= distance_of_time_in_words(block["time"], Time.now) %> ago</td>
          <td><%= block["tx"].count %></td>
          <td><%= block["total_sent"].round(2) %> NMC</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="full">
  <h2>Latest operations</h2>
  <% if @latest_transactions.count > 0 %>
  <table>
    <tr>
      <th>Age</th>
      <th>Block</th>
      <th>Transaction</th>
      <th>Operation</th>
      <th>Name</th>
      <th>Value</th>
    </tr>
    <% @latest_transactions.each do |transaction| %>
      <tr>
        <td><%= distance_of_time_in_words(Time.now, Time.at(transaction["age"])) %></td>
        <td><a href="/block/<%= transaction['height'] %>"><%= transaction['height'] %></a></td>
        <td><a href="/tx/<%= transaction['txid'] %>"><%= transaction["txid"][0..10] %>...</a></td>
        <td><%= transaction["operation"] %></td>
        <td><a href="/name/<%= transaction['name'] %>"><%= transaction["name"] %></a></td>
        <td><%= transaction["value"] %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
    <p class="cf"><em>There haven't been any domain registrations or updates in the past few blocks</em></p>
  <% end %>
</div>
