<h1>Transaction <a href="/tx/<%= params[:transaction] %>"><%= params[:transaction] %></a></h1>
<div class="flex-container">
  <div class="half">
    <table>
      <tr>
        <th>Inputs</th>
      </tr>
      <% @output["vin"].each do |vin| %>
        <tr>
          <% if vin["prevTransaction"] %>
            <td><a href="/address/<%= vin['prevTransaction']['vout'][vin['vout']]['scriptPubKey']['addresses'][0] %>"><%= vin["prevTransaction"]["vout"][vin["vout"]]["scriptPubKey"]["addresses"][0] %></a></td>
            <td><%= vin["prevTransaction"]["vout"][vin["vout"]]["value"] %> NMC</td>
          <% else %>
            <td>No inputs (generated coins)</td>        
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="half">
    <table>
      <tr>
        <th>Outputs</th>
      </tr>
        <% @output["vout"].each do |vout| %>
        <tr>
          <% vout["scriptPubKey"]["addresses"].each do |address| %>
            <td><a href="/address/<%= address %>"><%= address %></a></td>
          <% end %>
          <td><%= vout["value"] %> NMC</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="flex-container">
  <div class="half">
    <h2>Summary</h2>
    <table>
      <tr>
        <td>Size</td>
        <td><%= @output["size"] %> bytes</td>
      </tr>
      <tr>
        <td>Block</td>
        <td><a href="/block/<%= @output['height'] %>"><%= @output["height"] %></a></td>
      </tr>
      <tr>
        <td>Total inputs</td>
        <td><%= @output["totals"]["input"] %> NMC (<%= pluralize(@output["vin"].count, 'script') %>)</td>
      </tr>
      <tr>
        <td>Total outputs</td>
        <td><%= @output["totals"]["output"] %> NMC (<%= pluralize(@output["vout"].count, 'script') %>)</td>
      </tr>
      <% if @output["totals"]["input"] > 0 %>
      <tr>
        <td>Fees</td>
        <td><%= @output["totals"]["input"] - @output["totals"]["output"] %> NMC</td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="half">
    <% @output["vout"].each do |vout| %>
      <% if vout["scriptPubKey"]["nameOp"] %>
        <h2>Name operation</h2>
        <table>
          <tr>
            <td>Operation</td>
            <td><%= vout["scriptPubKey"]["nameOp"]["op"] %></td>
          </tr>
          <tr>
            <td>Name</td>
            <td><a href="/name/<%= vout['scriptPubKey']['nameOp']['name'] %>"><%= vout["scriptPubKey"]["nameOp"]["name"] %></a></td>
          </tr>
        </table>
        <pre><% begin %><%= raw CodeRay.scan(JSON.pretty_generate(JSON.parse(vout["scriptPubKey"]["nameOp"]["value"])), :json).html(:css => :style) %><% rescue %><%= vout["scriptPubKey"]["nameOp"]["value"] %><% end %>
        </pre>
      <% end %>
    <% end %>
  </div>
</div>

<h2>Input scripts</h2>
<table>
  <% @output["vin"].each_with_index do |vin, index| %>
    <tr>
      <td><%= index %>.</td>
      <% if vin["coinbase"] %>
        <td><%= vin["coinbase"] %></td>
        <% else %>
        <td><%= vin["scriptSig"]["asm"] %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h2>Output scripts</h2>
<table>
  <% @output["vout"].each_with_index do |vout, index| %>
    <tr>
      <td><%= index %>.</td>
      <td><%= vout["scriptPubKey"]["asm"] %></td>
    </tr>
  <% end %>
</table>
