<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> - <%= ENV['SITE_TITLE_TEXT'] %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <a href="/"><h1><%= ENV['SITE_HEADING'] %> <span><%= ENV['SITE_SUBTITLE'] %></span></h1></a>
        <%= form_tag({:action=>"search", :controller=>"application"},{:method=>"post"}) do %>
          <%= search_field_tag 'query', nil, placeholder: 'Search...' %>
          <%= button_tag 'Search' %>
        <% end %>
      </nav>
    </header>
    <article>
      <% if @debug_mode %>
        <%= @output %>
      <% end %>
      <%= yield %>
    </article>
    <footer>
      <a href="/api">API</a>
      <a href="https://github.com/tfreedman/explorer">Source</a>
    </footer>
  </body>
</html>
